@font-face {
  font-family: 'schreiberowa';
  src: url('fonts/texgyreadventor-bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
}
* {
  font-family: 'schreiberowa', sans-serif;
  padding: 0;
  font-weight: bold;
  margin: 0;
  box-sizing: border-box;
}
.timer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #00ff00;
  isolation: isolate;
}

.border {
  padding: 3px;
  border: 4px solid black;
  background-color: white;
}

.progress_container {
  position: relative;
  width: 1800px;
  height: 100px;
  /* border: 3px solid black; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress_fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: black;
  transition: width 1s linear;
}

.progress_text {
  letter-spacing: 0.25rem;
  position: absolute;
  font-size: 60px;
  top: 0rem;
  font-weight: bold;
  mix-blend-mode: exclusion; /* Automatyczna zmiana koloru */
  color: white;
  z-index: 2;
  width: 100%;
  text-align: center;
}


.form_container {
  display: flex;
  gap: 2rem;
  margin-top: 20px;
}

.time_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid black;
  background: white;
  gap: 10px;
}

.time_form h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.time_form label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.time_form input {
  width: 50px;
  padding: 5px;
  font-size: 16px;
}

.time_form button, .time_info button {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
}

.time_form button:hover, .time_info button:hover {
  opacity: 0.7;
}

.time_info {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 1rem;
}
.time_info p{
  font-size: 20px;
}
